  <h1>Add a new object</h1>
  <form action="/objects" method="post">
    <label for="name">Object Name</label>
    <input id="name" name="name" type="text">
    <label for="property">Property</label>
    <input id="property" name="property" type="text">
    <button type="submit">Submit</button>
  </form>
  <a href="/">Go Back</a>
  <a href="/objects">View all objects</a>

  <h1>Add a new category</h1>
  <form action="/categories" method="post">
    <label for="name">Name</label>
    <input id="name" name="name" type="text">
    <label for="property">Property</label>
    <input id="property" name="property" type="text">
    <button type="submit">Submit</button>
  </form>
  <a href="/">Go Back</a>
  <a href="/categories">View all categories</a>
