<h1>This website... (description)</h1>
<h2>What would you like to do?</h2>
<p><a href="/categories">View All Categories</a> | <a href="/category/new">Add a new Venue</a></p>
<p><a href="/objects">View All Objects</a> | <a href="/object/new">Add a new Object</a></p>
